  <div class="posts-like-btn">
    <% if user_signed_in? %>
    <% if post.like_user(current_user.id)  %>
    <%= button_to "いいねを取り消す", post_likes_path(@post),method: :delete,remote: true  %>
      <span class="heart-count">♡</span>
      <%= post.likes_count %>
    <% else %>
    <%= button_to "いいねを付ける", post_likes_path(@post),method: :post,remote: true %>
      <span class="heart-count">♡</span>
       <%= post.likes_count %>
     <% end %>
     <% end %>
  </div>