<header class="top-page-header">

<div class="header-left">
like-bike
</div>

<div class="header-center">
user_name
</div>

<div class="header-right">
 <div class="new-posts">
newposts
 </div>
</div>
</header>
