.wrote-reviews{
  text-align: center;
  margin : 10px 0;
  font-weight: bolder;
}
.rating-star-review{
  font-size : 18px;
  font-weight: bolder;
}
.rating-star-review-one{
  margin-left :5px;
  color : #fc2; 
}
.star-rating-parent{
  margin : 10px auto 20px auto;
  position : relative;
  width : 5em;
  height : 1em;
  font-size : 25px; 
}
.star-rating-front{
  position : absolute;
  top : 0;
  left : 0;
  overflow : hidden;
  color : #fc3;
}
.star-rating-back{
  color : #ccc;
}
.review-score-average-count{
  text-align: center;
}
.rating-box{
  text-align: center;
  
}
.rating {
  line-height: 1;
  color: gold;
  font-size: 24px;
  margin : 20px;
}

.rating input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.rating label {
  display: inline-block;
  cursor : pointer;
}

.rating input:focus + label {
  outline: 1px solid currentColor;
}

.rating input:checked + label ~ label {
  color: grey;
}
.review-text{
  width : 55vw; 
  margin-left : auto;
  margin-right : auto;
  padding : 20px;
  background-color : #f7f7f7;
}
.review-text:focus{
  background-color : white;
}
.review-btn{
  margin : 20px;
}
.review-send{
  padding : 7px 30px 7px 30px;
  background-color : #0000ff;
  cursor: pointer;
  color :white;
  border : none;
}
.review-send:hover{
  background-color : #007fff;
}
.review-comment-note{
  color :gray;
}
.review-list-box{
  display : flex;
  justify-content: center;
  align-items: center;
}
.review-list{
  font-size : 18px;
}

/*レビュー一覧ここから*/
.reviews-box{
  margin-right : auto;
  margin-left : auto;
  width : 55vw;
  text-align: center;
}
.reviews-index{
  border : 1px solid #e6e6fa;
  margin-bottom : 3px;
  padding : 10px;
  background-color : white;
}
.reviews-index:hover{
  background-color : #f2f2f2;
}
.review-ratign-star{
  margin-right : 20px;
}
.review-rating-star{
  color : #ffcc22; 
}
.review-rating-user-nickname{
  display : flex;
  justify-content: center;
}
.review-item-text{
  word-break: break-all;
  margin-bottom :10px;
}
.review-user-nickname{
  margin-right : 40px;
  margin-bottom : 20px;
  word-break: break-all;
}
.reviews-destroy-action{
  width :10vw;
  margin-left :auto;
}
.reviews-destroy-action:hover{
  color :red;
}
.review-user-nickname{
  font-weight: bold;
}
.review-user-nickname:hover{
  color: blue;
}
/*レビュー一覧ここまで*/