.wrote-reviews{
  text-align: center;
  margin : 10px 0;
}
.rating-star-review-one{
  color : #fc2; 
}
.star-rating-parent{
  margin-left : auto;
  margin-right : auto;
  margin-top : 10px;
  margin-bottom : 20px;
  position : relative;
  width : 5em;
  height : 1em;
  font-size : 25px; 
}
.star-rating-front{
  position : absolute;
  top : 0;
  left : 0;
  overflow : hidden;
  color : #fc3;
}
.star-rating-back{
  color : #ccc;
}
.review-score-average-count{
  text-align: center;
}
.rating-box{
  text-align: center;
  
}
.rating {
  line-height: 1;
  color: gold;
  font-size: 24px;
  margin : 20px;
}

.rating input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  
}

.rating label {
  display: inline-block;
  cursor : pointer;
}

.rating input:focus + label {
  outline: 1px solid currentColor;
}

.rating input:checked + label ~ label {
  color: grey;
}
.review-text{
  width : 55vw; 
  margin-left : auto;
  margin-right : auto;
  padding : 20px;
}
.review-btn{
  padding : 5px;
  margin-bottom : 20px; 
}

/*レビュー一覧ここから*/
.reviews-box{
  margin-right : auto;
  margin-left : auto;
  width : 55vw;
  text-align: center;
  
}
.reviews-index{
  text-align: center;
  border : 1px solid #e6e6fa;
  margin-bottom : 20px;
  padding : 10px;
  background-color : white;
}
.reviews-index:hover{
  background-color : #f2f2f2;
}
.review-ratign-star{
  margin-right : 20px;
}
.review-rating-star{
  color : #ffcc22; 
}
.review-rating-user-nickname{
  display : flex;
  justify-content: center;
  margin-bottom : 20px;
}
.review-item-text{
  word-break: break-all;
}
.review-user-nickname{
  word-break: break-all;
}
.reviews-destroy-action{
  margin-left : 550px;
}
/*レビュー一覧ここまで*/