.item-review-star-rating{
  margin : 0 10px 20px 425px;
  position : relative;
  width : 5em;
  height : 1em;
}
.item-review-star-front{
  position : absolute;
  top : 0;
  left : 0;
  overflow : hidden;
  color : #fc3;
}
.item-review-star-back{
  color : #ccc;
}
.item-review-score-average-count{
  margin : 10px 0 0 auto;
  width : 15vw;
}
.item-tag-word{
  padding : 10px;
}
.item-page-inform{
  text-align: center;
  margin :10px auto;
  width : 43vw;
  padding : 7px;
  font-weight : bolder;
  font-size : 18px;
  background-color : #ff00ff;
}
.item-tag-inform{
  text-align: center;
  margin :10px auto;
  width : 43vw;
  padding : 7px;
  font-weight : bolder;
  font-size : 18px;
  background-color : #00fa9a;
}
.item-name{
  margin-left : 20px;
}
.item-text-index{
  text-align: center;
  word-break: break-all;
  margin : 20px;
}
.tag-item-word{
  padding :7px 7px;
  border : 1px solid black;
  margin-right :5px;
  border-radius: 100vh;
  background-color : #98fb98;
  text-align :center;
}
.tag-item-word:hover{
  background-color : #00ff00;
}
.item-tag-box{
  display: flex;
  margin-left : 4px;
  margin-bottom : 7px;
  width :40vw;
}
.action-edit-item{
  margin-left : 10px;
  padding : 7px;
}
.action-edit-item:hover{
  color : blue;
}
@media (max-width: 1024px){
  .post-img{
    width : 400px;
  }
  .tag-item-word{
    font-size : 10px;
    padding :5px 4px;
    margin-right :5px;
  }
  .item-review-star-rating{
    margin : 0 10px 20px 325px;
    position : relative;
    width : 5em;
    height : 1em;
  }
}
@media (max-width: 599px){
  .post-img{
    width : 225px;
  }
  .tag-item-word{
    font-size : 1px;
    padding :5px 1px;
    margin-right :2px;
  }
  .item-review-star-rating{
    margin : 0 10px 20px 150px;
    position : relative;
    width : 5em;
    height : 1em;
  }
}