.new-item-box{
  background-color: #f0f8ff;
  height :120vh;
  text-align: center;
  padding-top : 20px;
  overflow: scroll;
}
/*アイテム投稿フォームここから*/
.new-item-form{
  border : 1px solid black;
  margin-left : auto;
  margin-right : auto;
  margin-top : 10px;
  margin-bottom : 20px;
  width : 80vw;
  height : 139vh; 
}
.tag-form{
  width : 30vw;
  margin : 0 auto 10px auto;
  padding : 20px; 
}
.child{
  border-bottom : 1px solid black;
  width : 25vw;
  margin : 0 auto 10px auto;
}
/*アイテム投稿フォームここまで*/