.new-item-box{
  background-color: #f0f8ff;
  height :120vh;
  text-align: center;
  padding-top : 20px;
  overflow: scroll;
}
.new-item-form{
  border : 1px solid #f7f7f7;
  margin : 10px auto 20px auto;
  width : 80vw;
  height : 126vh;
  background-color : #f2f2f2;
}
.tag-form{
  width : 32vw;
  margin : 0 auto 10px auto;
  padding : 20px; 
}
.child{
  border-bottom : 1px solid black;
  width : 25vw;
  margin : 0 auto 10px auto;
}
.item-text-box{
  width : 13vw;
  display : flex; 
  margin : 20px auto 10px auto;
}
.item-new-tag-box{
  width : 14vw;
  display : flex; 
  margin : 20px auto 10px auto;
}
.item-comment-note{
  padding : 2px 5px;
  color :white;
  background-color : red;
  margin-right : 10px;
  margin-left : 24px;
}
.item-comment-note-any{
  padding : 2px 5px;
  background-color : #c0c0c0;
  margin-right : 10px;
  margin-left : 16px;
}
.item-comment-sentence{
  font-weight: bold;
  font-size : 16px;
  margin-left : 42px;
}
.item-tag-sentence{
  font-weight: bold;
  font-size : 16px;
  margin-left : 25px;
}
.fa-camera{
  margin-left :10px;
}