
.show-item-name{
  text-align: center;
  margin : 20px;
  word-break: break-all;
}
.user_show-action{
  word-break: break-all;
  padding : 20px 20px 0px 20px;
}
.show-item-tag-word{
  margin : 10px;
  padding : 6px; 
}
