.item-show-box{
  background-color :  #f0f8ff;
  height : 155vh;
  overflow: scroll;
}
.show-item-name{
  text-align: center;
  margin : 20px;
  word-break: break-all;
  font-weight: bold;
}
.user-show-action{
  word-break: break-all;
  padding : 20px 20px 0px 20px;
}
.user-show-action:hover{
  color :blue;
}
.show-item-tag-word{
  padding :7px 16px;
  border : 1px solid black;
  margin-right :5px;
  border-radius: 100vh;
  background-color : #98fb98;
  text-align :center;
}
.show-item-tag-word:hover{
  background-color : #00ff00;
}
.show-item-content{
  
  margin : 20px auto 20px auto;
  width : 70vw;
  height : 48vh;
}
.review-text-box{
  margin : 0px 0 30px 0;
  text-align: center;
}
.show-item-image{
  width : 60vw;
  height : 55vh;
  margin : 0px auto;
  display : flex;
}
.show-action-item-edit{
  margin-left : 10px;
}
.show-action-item-edit:hover{
  color :blue;
}
.show-action-item-destroy{
  margin-right : 10px;
}
.show-action-item-menu{
  width : 50vw;
  margin : 10px auto ;
  display :flex;
  justify-content: space-between;
}
.show-action-item-destroy:hover{
  color :red;
}
.show-item-tag-box{
  display: flex;
  margin-left : 4px;
  margin-bottom : 7px;
}
@media (max-width: 1024px) {
  .user-show-action{
    font-size :11px;
  }
  .following-count{
    font-size : 11px;
  }
  .follower-count{
    font-size : 11px;
  }
  .follow-btn{
    font-size : 10px;
  }
}