

<div class="main-box">
  <div id='items_id'></div>
  <div class="left-box"></div>

  <div class="center-box">
    <div class="item-page-inform">アイテム一覧</div>
    <%= render "shared/list_items" %>
  </div>

  <%= render "shared/right_box" %>
</div>