<%= render "shared/header" %>
<div class="main-box">

<div class="reft-box">a
<%= %>
</div>


<div class="center-box">b
</div>



<div class="right-box">
c
</div>



















</div>
<%= render "shared/footer"%>