
<div class="main-box">

<div class="reft-box">
<div class="map">map</div>
</div>


<div class="center-box">
  <div class="list-posts">list-posts-</div>
</div>



<div class="right-box">
  <div class="user-profile">user-profile</div>
    <div class="measurement">計測</div>
</div>

</div>
