
<div class="main-box">

<div class="reft-box">
<div class="map">map</div>
</div>


<div class="center-box">
  <div class="list-posts">
  list-posts-</div>
</div>



<div class="right-box">
  <div class="user-profile">
  <% if user_signed_in?%>
  <%= link_to current_user.nickname, "#", class: "user-nickname" %>
  <% end %>
  </div>
    <div class="measurement">計測</div>
</div>

</div>
