.edit-content{
  background-color : #f0f8ff;
  height : 100vh;
  overflow: scroll;
  text-align: center;
  padding-top : 20px; 
}
.edit-form{
  border : 1px solid gray;
  margin :20px auto 0 auto;
  width : 80vw; 
  height : 83vh;
  background-color : #f2f2f2;
}
.text-box{
  margin : 20px 50px 0 50px;
  padding : 20px;
}

.image-sentence{
  margin-bottom : 20px;
}
.text-content{
  padding : 20px; 
  margin : 20px auto 20px auto;
  height : 200px;
  width : 55vw;
  background-color : white;
}
.name-box{
  width : 40vw;
  padding : 20px; 
}
.item-image{
  margin-left : 220px;
  margin-bottom : 20px;
}
.update-btn{
  padding : 7px 30px 7px 30px;
  margin : 0px 0px 20px 0px;
  border-style: none;
  cursor: pointer;
  background-color : #0000ff;
  color :white;
}
.update-btn:hover{
  background-color : #007fff;
}

