.edit-content{
  background-color : #f0f8ff;
  height : 90vh;
  overflow: scroll;
  text-align: center;
  padding-top : 20px; 
}
.edit-form{
  border : 1px solid gray;
  margin-right : auto;
  margin-left : auto;
  margin-top : 20px; 
  width : 80vw; 
  height : 80vh;
  overflow: scroll;
}
.text-box{
  margin : 20px 50px 0 50px;
  padding : 20px;
}

.image-sentence{
  margin-bottom : 20px;
}
.text-content{
  padding : 20px; 
  margin : 20px auto 20px auto;
  height : 200px;
  width : 55vw;
}
.name-box{
  width : 40vw;
  padding : 20px; 
}
.item-image{
  margin-left : 220px;
  margin-bottom : 20px;
}
.update-btn{
  margin-bottom : 20px;
}
