/*ヘッダーここから*/
.top-main-parent{
  height : 14vh; 
  width : 100vw;
  display : flex;
  align-items: center;
  background-color : #191970;
}
.header-logo-mark{
  border : 1px solid gray;
  padding :10px;
  margin-left : 30px;
  background-color : white;
}

.posts-lists{
  border : 1px solid gray;
  padding : 10px;
  margin-left : 75px;
  background-color : white;
}
.items-lists{
  border : 1px solid gray;
  padding : 10px;
  margin-left : 25px;
  background-color : white;
}
.search-input{
  width : 30vw;
  margin-left : 80px;
  padding : 10px;
  background-color : #dcdcdc;
}
.search-btn{
  margin-left : 10px;
  cursor : pointer;
}
.posts-new-action{
  border : 1px solid gray;
  padding : 10px;
  margin-left : 60px;
  background-color : white;
}
.items-new-action{
  border : 1px solid gray;
  padding : 10px;
  margin-left : 25px;
  background-color : white;
}
.user-action-logout{
border : 1px solid gray;
padding : 10px;
margin-left : 20px;
background-color : white;
}
.header-guesto-login{
  margin-left : 50px; 
}
.btn-header-guest-login{
  padding : 7px; 
  border : 1px solid white;
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
}
.user-action-login{
  border : 1px solid gray;
  padding : 10px;
  margin-left : 20px;
  background-color : white;
}
.user-action-new{
  border : 1px solid gray;
  padding : 10px;
  margin-left : 20px;
  background-color : white;
}
/*ヘッダーここまで*/

.main-box{
  display: flex;
  overflow: scroll;
  height : 120vh;
}
.left-box{
  height :90vh;
  width :27vw;
  overflow: scroll;
}
/*真ん中ここから*/
.center-box{
  height :90vh;
  width :46vw;
}

.post-index{
  border : 1px solid black;
  margin : 10px; 
  background-color : white;
}
.post-index:hover{
  background-color : #f2f2f2;
}
.post-text-created-at{
  margin-bottom : 10px;
  font-size : 18px;
  word-break: break-all;
}
.post-text{
  margin-left : 15px;
  margin-bottom : 20px;
}
.post-user-nickname{
  margin-left : 10px;
  margin-bottom : 10px;
  margin-top : 10px;
  font-size : 13px;
  display : flex;
}
.post-created-at{
  margin-right : 15px;
  margin-left : 315px; 
}
.post-image{
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 10px;
  display : flex;
  justify-content: center;
}

.action-menu{
  display : flex;
  justify-content: space-between;
}
.action-edit{
  margin-left : 10px;
  padding : 7px; 
}
.action-destroy{
  margin-right : 10px;
  padding : 7px; 
}
/*真ん中ここまで*/
.list-posts{
  border : 1px solid #202020;
  margin-left: auto;
  margin-right: auto;
  margin-top :10px;
  width :42vw;
  background-color: #f0f8ff;
}
.right-box{
  height :150vh;
  width :27vw;
}
.user-profile{
  margin-left: auto;
  margin-right: auto;
  margin-top : 20px;
  height :300px;
  width : 24vw;
  display : flex; 
}

.user-profile-menu{
  padding : 5px;
  text-align : center;
  border : 1px solid #e6e6fa;
  width : 24vw;
  position: fixed;
  word-break: break-all;
  background-color : #eeeeee;
}
.user-profile-menu:hover{
  background-color : white;
}
.user-menu-edit-user{
  margin-top : 10px;
}
.user-menu-item-new{
  margin-top : 10px;
}
.user-menu-items{
  margin : 10px 0 10px 0;
}
.measurement{
  text-align : center;
  margin : 180px auto 50px 100px; 
  width : 15vw;
  position: fixed;
}
.back-home{
  text-align: center;
}
ul {
  list-style: none;
}

/*フッターここから*/
.top-page-footer{
  text-align: center;
  background-color :#333333;
  height :30px;
  color :white;
}
/*フッターここまで*/

