.new-box{
  background-color: #f0f8ff;
  height :100vh;
  text-align: center;
  padding-top : 20px;
  overflow: scroll;
}
.new-post-form{
  border : 1px solid #f7f7f7;
  margin : 20px auto;
  width : 80vw;
  height : 88vh; 
  background-color : #f7f7f7;
}
.img-upload{
  width : 100px;
  display : flex;
  margin : 0px auto 20px auto;
}
.post-btn{
  padding : 7px 30px;
  margin : 20px 0px 40px 0px;
  border-style: none;
  cursor: pointer;
  background-color : #0000ff;
  color :white;
}
.post-btn:hover{
  background-color : #007fff;
}
.img-text{
  margin-left : 20px;
  font-weight: bold;
}
.comment-sentence{
  font-weight: bold;
}
