.new-box{
  background-color: #f0f8ff;
  height :120vh;
  text-align: center;
  padding-top : 20px;
  overflow: scroll;
}

.new-post-form{
  border : 1px solid #f7f7f7;
  margin-left : auto;
  margin-right : auto;
  margin-top : 20px;
  margin-bottom : 20px;
  width : 80vw;
  height : 105vh; 
  background-color : #f7f7f7;
}
.img-upload{
  margin-bottom : 20px;
}
.post-btn{
  margin-bottom : 20px;
}
