.show-box{
  background-color : lightyellow;
  height : 90vh;
  overflow: scroll;
}
.show-content{
  border : 1px solid black;
  margin-right : auto;
  margin-left : auto;
  width : 80vw; 
  height : 80vh;
  overflow: scroll;
}
.show-user-name{
  border : 1px solid black;
  margin : 20px;
}

.show-post-text-created-at{
  border : 1px solid black;
  margin : 20px;
  
}
.show-post-text{
  border : 1px solid black;
  margin : 20px;
}
.show-post-created-at{
  border : 1px solid black;
  margin : 20px 20px 20px 10px;
}
.show-post-image{
  border : 1px solid black;
  margin : 20px;
  display : flex;
  
}
.show-image{
  margin-right : auto;
  margin-left : auto;
}
.show-action-menu{
  border : 1px solid black;
  margin : 20px;
  display : flex;
  justify-content: space-between;
}
.show-action-comment{
  border : 1px solid black;
  margin-left : 20px;
}
.show-action-edit-btn{
  border : 1px solid black;
  
}
.show-action-destroy{
  border : 1px solid black;
  margin-right : 20px;
}
.show-commnet-content{
  border : 1px solid black;
  margin : 20px;
}