/*フォローここから*/
.my-page-top-following{
  text-align: center;
  margin :10px auto 10px auto;
  width : 43vw;
  padding : 7px;
  background-color : #ffff7f;
  color :black;
  font-size :18px;
  font-weight: bold;
}
/*フォローここまで*/

/*フォロワーここから*/
.my-page-top-follower{
  text-align: center;
  margin :10px auto 10px auto;
  width : 43vw;
  padding : 7px;
  background-color : #7fff7f;
  color :black;
  font-size :18px;
  font-weight: bold;
}
.follower-user-nickname-image{
  display: flex;
  align-items: center;
  font-size : 17px; 
}
.follower-user-nickname{
  margin-left : 10px;
  font-weight : bolder;
}
.follower-user-img{
  margin : 10px;
}
.follower-user-profile{
  padding : 7px;
  margin : 10px;
}

/*フォロワーここまで*/
@media (max-width: 599px) {
  .my-page-top-follower{
    width : 39vw;
  }
}