
.user-profile-image{
  margin : 10px;
  width : 80px;
}
.user-profile-image-name{
  display : flex;
}
.user-name-info-text{
  margin : 12px auto 0px auto;
  width : 100px;
  font-weight: bolder;
  font-size : 18px;
}
.user-profile-name{
  margin-top : 7px;
  margin-right :10px;
  height : 50px;
  word-break: break-all;
}
.user-profile-text{
  padding : 10px;
  word-break: break-all;
}
.user-profile-box{
  height : 280px;
  width : 23vw;
  border : 1px solid gray;
  margin-top : 20px;
  margin-left: 40px;
  position: fixed;
}
.user-profile-info-text{
  text-align : center;
  font-weight : bolder;
}

.my-page-top{
  margin :10px auto 10px auto;
  padding : 7px;
  width : 43vw;
  background-color : #00ffff;
  text-align: center;
  font-weight : bolder;
  font-size : 18px;
}
.user-details{
  border : 1px solid #e6e6fa;
  height : 200px;
  width : 23vw;
  margin-right : 20px;
  margin-left : 40px;
  margin-top : 350px;
  position: fixed;
  background-color : #eeeeee;
  text-align : center;
}
.user-details:hover{
  background-color : white;
}
.item-page-inform{
  background-color : #ff00ff;
}
.following-follower-count{
  display: flex;
  justify-content: space-between;
  margin : 10px 10px 20px 10px;
}
.following-count{
  margin-left : 30px;
  padding : 7px;
}
.follower-count{
  margin-right : 30px;
  padding : 7px;
}
.following-display-text{
  width : 11vw;
  margin-right : auto;
  margin-left : auto;
  border-radius: 100vh;
}
.following-btn{
  padding :7px 30px 7px 30px;
  background-color : blue;
  color : white;
  border-style: none;
  border-radius: 100vh;
  cursor : pointer;
}
.following-release-btn{
  padding :7px 30px 7px 30px;
  background-color : red;
  color : white;
  border-style: none;
  border-radius: 100vh;
  cursor : pointer;
}
.follow-to-btn{
  border : 1px solid #0000ff;
  padding :7px 30px 7px 30px;
  background-color : white;
  color : #0000ff;
  border-radius: 100vh;
  cursor : pointer;
}
.follow-to-btn:hover{
  background-color : #bcffff;
}
.following-follower{
  justify-content: space-between;
  display :flex;
  margin-top : 20px;
}
.current-user-following{
  margin-left : 40px;
}
.current-user-follower{
  margin-right : 40px;
}
.following-display-text .following-display-hover{
  display: none;
  
}
.following-display-text:hover .following-display{
  display: none;
  
}
.following-display-text:hover .following-display-hover{
  display: inline;
}