.log-in-btn{
  padding : 7px 30px 7px 30px;
  margin : 0px 0px 10px 0px;
  border-style: none;
  cursor: pointer;
  background-color : #0000ff;
  color :white;
}
.log-in-btn:hover{
  background-color : #007fff;
}